#
# Build configuration file for ImageProcessing
#
# Author: <andrea.parenti@xfel.eu>
# Date:    October, 2013, 04:34 PM
#

# This script will be sourced in bash context.
# This means you can use bash functionality to your liking.
#
# Following variables are available from outside:
#
# INSTALL_PREFIX  The location where this dependency should be installed to
# NUM_CORES       The number of cores availabe for a parallel build
# PYTHON          The python interpreter
# KARABO          The location of the karaboFramework base directory
#

CUSTOM_BUILD=y

# Do whatever you want bash scripting below this line

echo -e "\n### Install image_process.py : "
cp -a image_processing.py ${KARABO}/extern/lib/karabo_python/
